<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>


<div class="container mt-8 mb-6 text-center">

  <h2 class="mb-6"><%= t("features.title") %></h2>

  <div class="row feature-stamp">
    <div class="col-md-6 col-sm-12 text-right mb-6 pt-5">
        <span class="stamp bg-primary"><i class="fas fa-chalkboard-teacher fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6">
        <h4 class="mt-4"><%= t("features.rooms.title") %></h4>
        <p><%= t("features.rooms.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6">
      <h4 class="mt-4"><%= t("features.whiteboard.title") %></h4>
      <p><%= t("features.whiteboard.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-chalkboard fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-tools fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6">
      <h4 class="mt-4"><%= t("features.toolbox.title") %></h4>
      <p><%= t("features.toolbox.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6">
      <h4 class="mt-4"><%= t("features.groups.title") %></h4>
      <p><%= t("features.groups.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-users-cog fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-film fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6">
      <h4 class="mt-4"><%= t("features.recordings.title") %></h4>
      <p><%= t("features.recordings.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6">
      <h4 class="mt-4"><%= t("features.authentication.title") %></h4>
      <p><%= t("features.authentication.description") %></p>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-door-open fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-right mb-6 pt-5">
      <span class="stamp bg-primary"><i class="fas fa-gamepad fa-3x"></i></span>
    </div>
    <div class="col-md-6 col-sm-12 text-left mb-6">
      <h4 class="mt-4"><%= t("features.easy_access.title") %></h4>
      <p><%= t("features.easy_access.description") %></p>
    </div>
  </div>
</div>
